@import "definitions.css";
@import "Button.css";
.App{
    display: grid;
    gap: 20px;
    padding: 20px;
}
.information_form_car{
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 5fr;
}
.information_form{
    display: grid;
    gap: 10px;
    background: rgba(255,255,255, .6);
    backdrop-filter: blur(1px);
    padding: 15px;
    border-radius: 10px;
}
.billing_info_op{
    display: grid;
}
.vehicle_buy_card_container, .other_information_container{
    padding: 20px;
}